@import 'globals';

.landing-container {
  @include flexCenter;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.landing-logo {
  width: 300px;
}

.landing-title {
  font-size: 3rem;
}

.landing-button {
  padding: 0.5rem;
  border: 1px solid $dark-blue;
  background-color: $grotto-blue;
  color: white;
  cursor: pointer;
}

.landing-button:hover {
  border: 1px solid $midnight-blue;
}
