@import 'globals';

nav {
  @include flexAround;
  background-color: $dark-blue;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid white;
  .icon {
    width: 50px;
    cursor: pointer;
  }
}
